/* reset padrões */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* Ordem tags */

body {
    font-family: 'Barlow', sans-serif;
    background-color: rgba(61, 70, 202, 0.815);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lobster Two', cursive;
}

img {
    width: 100%;
}



header {
    display: flex;
    background-color: rgb(233, 233, 233);
    padding: 10px;
}

header h1 {
    min-width:20%;
}

header nav {
    width: 80%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    text-align: right;
}

nav ul li,
nav ul li a {
    display: inline-block;
    width: fit-content;
    height: 30px;
    margin-bottom: 4px;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    /* text-indent: 40px; */
    line-height: 30px;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
main{
    display:flex;
    /* vh corresponde a % da tela do dispositivo, 90vh = 90% da altura 
    da tela */
    min-height: 80vh;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin: top 20px;
}

aside{
    width: 25%;
    padding: 15px;
    background-color: rgb(233, 233, 233);
}

footer p {
    text-align: center;
}

.conteudo{
    width:70%;
    padding: 10px;
    background-color:whitesmoke ;
}

.ico-logo {
    width: 50px;
    margin: 0 20px 0 5px;
}
